/* common css */
.fullWidth {
    width: 100%;
}
.vwh-100 {
    height: calc(100vh - 56px); 
    /* reduce height of the menubar */
}
.min-h-300 {
    min-height: 300px;
}
.max-h-600 {
    max-height: 600px;
}
.max-w-250 {
    max-width: 250px;
}
.max-w-800 {
    max-width: 800px;
    margin: 0 auto;
}
.CardP-0 .card-body {
    padding: 0;
}
.CardP-0 .card {
    border: none;
}
.emptyspace_10 {
    height: 30px;
    width: 100%;
}
.emptyspace_20 {
    height: 30px;
    width: 100%;
}
.btn.nobtn {
    background-color: transparent;
    border: none;
    pointer-events: none;
    color: #252525;
    font-weight: bold;
    font-size: 18px;
}
.items-box.border {
    border: 1px solid grey;
    padding: 50px;
    border-radius: 4px;
}
.mr-8 {
    margin-right: 8rem;
}
.requiredField {
    position: relative;
}
.requiredField::after {
    content: '*';
    position: absolute;
    right: -12px;
    color: #fc5546;
    font-size: 18px;
}
.link-underline {
    text-decoration: underline;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
}

.sideNavListCotainer [aria-expanded]::before {
    width: 10px;
    display: inline-block;
    text-align: center;
}
.sideNavListCotainer [aria-expanded="false"]::before {
    content: "+";
}
.sideNavListCotainer [aria-expanded="true"]::before {
    content: "-";
    width: 10px;
    display: inline-block;
    text-align: center;
}


.sideNavList {
    padding: 0 10px;
    list-style-type: none;
}
/* index styles */

/* signin styles */


/* signup styles */


/* test styles */
.testForm {
    position: relative;
}
.testForm input {
    border: none;
    border-bottom: 1px solid #ccc;
}

.testForm label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.testForm label span {
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
}

.testForm input:focus + label span,
.testForm input:valid + label span {
    transform: translateY(-100%);
    font-size: 14px;
    color: #ccc;
}
