/* common css */
.fullWidth {
    width: 100%;
}
.vwh-100 {
    height: calc(100vh - 56px); 
    /* reduce height of the menubar */
}
.min-h-300 {
    min-height: 300px;
}
.max-h-600 {
    max-height: 600px;
}
.max-w-250 {
    max-width: 250px;
}
.max-w-800 {
    max-width: 800px;
    margin: 0 auto;
}
.CardP-0 .card-body {
    padding: 0;
}
.CardP-0 .card {
    border: none;
}
.items-box.border {
    border: 1px solid grey;
    padding: 50px;
    border-radius: 4px;
}

/* index styles */

/* signin styles */


/* signup styles */


/* test styles */
.testForm {
    position: relative;
}
.testForm input {
    border: none;
    border-bottom: 1px solid #ccc;
}

.testForm label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.testForm label span {
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
}

.testForm input:focus + label span,
.testForm input:valid + label span {
    transform: translateY(-100%);
    font-size: 14px;
    color: #ccc;
}
